:host {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  gap: 30px;

  .user-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-self: center;
  }

  .add-card {
    background-image: url("../../../assets/images/Cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
  }

  @media screen and (max-width: 894px) {
    margin: 0 19px;
  }

  @media screen and (max-width: 769px) {
    .add-card {
      align-self: center;
    }
  }

  @media screen and (max-width: 540px) {
    flex-direction: column;
    align-content: center;
    padding: 40px 0;

    .add-card {
      margin-left: 0;
      align-self: center;
      width: 100%;
    }
  }
}
