.button {
  width: 100%;
  height: 50px;
  border-radius: 2px;
  cursor: pointer;
}

.sign {
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  } // TODO work with directive styles
}
