.button {
  color: white;
  cursor: pointer;
  transition: 1s;

  &-outlined-primary {
    border: 2px solid #ffffff;
    border-radius: 2px;
    padding: 15px 0;
    width: 150px;
    height: 50px;
    background-color: black;

    &:hover {
      opacity: 0.6;
    }
  }

  &-no-outlined-primary {
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    background-color: transparent;
  }

  &:hover {
    color: rgba(169, 169, 169, 1);
  }
}
