@use "./app/directives/styles/styles.scss";
@import "./normalize.css";
@import "../src/assets/fonts/Inter-Web/inter.css";

body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
}
