@use "./app/directives/styles/styles.scss";
@import url(normalize.css);
@import url(../src/assets/fonts/Inter-Web/inter.css);

body {
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
}
