@import "./vendor/normalize.css";
@import "./vendor/fonts/Inter-Web/inter.css";
@import "./assets/variables/variables.css";

.app {
  display: block;
  background-color: var(--background-color-main-mode-dark);
  color: var(--main-color-text-mode-dark);
  font-family: var(--main-font);
}
