@import "./vendor/normalize.css";
:root {
  --background-color-main-mode-dark: rgba(0, 0, 0, 1);
  --main-color-text-mode-dark: #FFFFFF;
}

.app {
  display: block;
  background-color: var(--background-color-main-mode-dark);
  color: var(--main-color-text-mode-dark);
}
