:host {
  color: white;
  display: flex;
  flex-wrap: wrap;
  max-width: 340px;
  gap: 20px;
  max-height: 90px;

  .user-info {
    &-name {
      font-weight: 500;
      font-size: 42px;
      line-height: 48px;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &-occupation {
      font-weight: 400;
      line-height: 22px;
      font-size: 18px;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &-edit {
      background-image: url("../../../assets/images/edit-user.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: 1px solid white;
      align-self: center;
      box-sizing: border-box;
    }
  }

  @media screen and (max-width: 769px) {
    gap: 14px;

    .user-info {
      &-name {
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
      }

      &-occupation {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  @media screen and (max-width: 769px) {
    justify-content: center;
    align-self: center;

    .user-info {
      align-items: center;

      &-edit {
        width: 18px;
        height: 18px;
      }
    }
  }
}
